<!DOCTYPE html>
<html>
    <head>
        <title>Migrozept</title>

        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <div class="navbar navbar-default">
            <div class="container">
                <div class="col-sm-8 col-sm-offset-2">
                    <a href="#" class="navbar-brand">Migrozept</a>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="page-header">
                    <h1>Migrozept</h1>
                </div>
                <p>Ever saw a product in a store that you wanted to eat but had no idea what to cook with it? That is in the past now!</p>
                <div class="page-header">
                    <h2>Get the app</h2>
                </div>
                <div class="page-header">
                    <h2>Technical background</h2>
                </div>
            </div>
        </div>

    </body>
</html>
