body {
    position: relative;
    padding-top: 60px;
}

body, p {
    font-size: 18px;
}


.navbar-default {
    background-color: rgb(255,102,0);
}

.navbar-default a.navbar-brand,
.navbar-default ul.navbar-nav li > a {
    color: white;
}

.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}

.thumbnail .caption {
    text-align: center;
}
